.header {
    display: flex;
    height: 4rem;
    padding: 0.8em 1em;
    background: #202020;
    color: white;
}


.logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
    cursor: pointer;
}

.image {
    width: 2.5em;
    margin: 0.5em;
    padding-top: 0.25em;
}

.input {
    flex-basis: 100%;
    font-size: 1.2rem;
    background-color: darkgray;
}

.button {
    background-color: gray;
}

.buttonImg {
    height: 100%;
    padding: 0.5em 0.25em;
}